.dashboard {
    display: grid;
    gap: 1.5rem;
}

.small-screens {
    grid-template-columns: repeat(3, minmax(370px, 1fr));
    grid-template-rows: repeat(10, minmax(60px, calc(100vh / 16)));
}

.large-screens {
    grid-auto-columns: 1fr;
    grid-auto-rows: 80px;
}

/* Add a

ny additional styles for your specific layout */